**/.git
**/.gitignore
**/.vs
**/.vscode
**/.idea
**/bin
**/obj
**/node_modules
**/dist
**/build
**/.DS_Store
plans
docs
previews
*.md
!README.md
appsettings.Development.json
.env
.env.*
docker-compose*.yml
